# Copyright (c) 2024 Joseph Kain
# Adapted from Corne's Kconfig.sheild copyright Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_KAINP_LEFT
    def_bool $(shields_list_contains,kainp_left)

config SHIELD_KAINP_RIGHT
    def_bool $(shields_list_contains,kainp_right)